*{
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$backColor:#1f253d;
$contentBackColor:#394264;
$indexColor:#fff;
$secondIndexColor:#9099b7;
$headerBackColor:#11a8ab;
$titleColor:#e64c65;
$calendarColor:#3468af;
$borderColor:#1f253d;
$hover_color:#50597b;
$alert_yellow:#EED202;
$alert_red:#B33A3A;
$alert_blue:#2196F3;

.scdColor{
    color: $secondIndexColor;
}

.no_disp{
    display: none;
}

.current_page{
    background-color: #2b3355;
    border-left: 5px solid $borderColor;
    border-top: 5px solid $borderColor;
}

@mixin btn($bg-before,$bg-after) {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    border: none;
    color: $indexColor;
    background: $bg-before;
    transition: all 0.5s;
    outline: none;
    &:hover{
        background: $bg-after;
        box-shadow: 0px 4px 60px -15px $titleColor;
        cursor: pointer;
    }
}

html{
    height: 100%;
}

body{
    background-color: $backColor;
    color: $indexColor;
    height: 100%;
    text-align: center;
    #wrapper{
        width: 100%;
        height: 100%;
        #sidebar,#main,#details{
            height: 100%;
            float: left;
        }
        #sidebar{
            width: 20%;
            .header{
                margin: 30px 16px;
                height: 90%;
                .head{
                    height: 12%;
                    margin: 0 0 10% 0;
                    background-color: $headerBackColor;
                    position: relative;
                    h1{
                        font-size: 26pt;
                        font-weight: 800;
                        letter-spacing: 3px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 100%;
                        .logo_img{
                            img{
                                height: 26px;
                                border-radius: 50%;
                            }
                        }
                    }
                }
                .menu_list{
                    height: 84%;
                    margin: 0 0;
                    h2{
                        background-color: $titleColor;
                        padding: 14px 0;
                        border-radius: 10px 10px 0 0;
                        font-weight: 400;
                        font-size: large;
                    }
                    ul{
                        li{
                            width: 100%;
                            height: 60px;
                            border-bottom: 1px solid $borderColor;
                            &:hover{
                                border-left: none;
                                border-top: none;
                            }
                            a{
                                line-height: 60px;
                                display: block;
                                -webkit-transition: background .2s;
                                transition: background .2s;
                                color: $indexColor;
                                text-decoration: none;
                                &:hover{
                                    background: $hover_color;
                                    border-top: 1px solid #1f253d;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    p{
                        margin-top: 20px;
                    }
                }
            }
        }
        
        #main{
            width: 55%;
        }
        
        #details{
            width: 25%;
            #right_content{
                height: 90%;
                .sche_conte{
                    height: 48%;
                    .date_head{
                        background-color: $titleColor;
                        border-radius: 10px 10px 0 0;
                        margin-bottom: 10px;
                        height: 15%;
                        position: relative;
                        h2{
                            width: 100%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                    #date_schedule{
                        height: 80%;
                        position: relative;
                        p{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%)
                        }
                        
                        h3{
                            height: 10%;
                        }
                        .sche_titles{
                            padding-top: 20px;
                            height: 90%;
                            width: 20%;
                            float: left;
                            ul{
                                li{
                                    cursor: pointer;
                                    border-right: 3px solid $borderColor;
                                    border-bottom: 3px solid $borderColor;
                                    &:hover{
                                        color: $titleColor;
                                        background-color: #2b3355;
                                    }
                                }
                                .li_active{
                                    background-color: #2b3355;
                                    border-right: none;
                                    border-bottom: none;
                                    border-left: 5px solid $borderColor;
                                    border-top: 5px solid $borderColor;
                                }
                            }
                        }
                        #sche_table{
                            padding-top: 10px;
                            width: 80%;
                            float: right;
                            height: 90%;
                            table{
                                width: 100%;
                                height: 100%;
                                tr{
                                    th{
                                        color: rgba(255, 255, 255, 0.35);
                                        padding: 1px 4px;
                                        height: 14%;
                                    }
                                    td{
                                        .change-btn{
                                            @include btn(#11a8ab,#0f9294);
                                            border-radius: 16px 0 0 16px;
                                            height: 100%;
                                        }
                                        .delete-btn{
                                            @include btn($titleColor,#b43c50);
                                            border-radius: 0 16px 16px 0;
                                            height: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .sche_form{
                    height: 48%;
                    .sche_form_head{
                        background-color: $titleColor;
                        border-radius: 10px 10px 0 0;
                        height: 15%;
                        position: relative;
                        h2{
                            width: 100%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                    form{
                        height: 85%;
                        table{
                            width: 100%;
                            padding-top: 3px;
                            height: 100%;
                            tr{
                                width: 100%;
                                th{
                                    color: rgba(255, 255, 255, 0.35);
                                    padding: 2px 4px;
                                    width: 30%;
                                }
                                td{
                                    width: 70%;
                                    height: 14.2%;
                                    input,textarea{
                                        font-family: 'Montserrat', sans-serif;
                                        width: 80%;
                                        color: $indexColor;
                                        letter-spacing: 1px;
                                        background: rgba(255, 255, 255, 0.1);
                                        border: 2px solid rgba(255, 255, 255, 0);
                                        border-radius: 19px;
                                        box-sizing: border-box;
                                        transition: all 0.5s;
                                        padding-left: 10px;
                                        &:focus{
                                            outline: none;
                                            border: 2px solid rgba(255, 255, 255, 0.5);
                                            background: transparent;
                                        }
                                    }
                                    input[type="submit"] {
                                        font-family: 'Montserrat', sans-serif;
                                        width: 25%;
                                        border: none;
                                        border-radius: 20px;
                                        color: #fff;
                                        background: $headerBackColor;
                                        transition: all 0.5s;
                                        outline: none;
                                        padding: 5px 0;
                                        &:hover{
                                            background: #0f9294;
                                            box-shadow: 0px 4px 60px -15px $headerBackColor;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .content{
            margin: 30px 16px;
            background-color: $contentBackColor;
            border-radius: 10px;
            height: 90%;
        }
    }
}

#schedule_detail{
    height: 100%;
    table{
        width: 100%;
        height: 100%;
        thead{
            .t-title{
                border-radius: 10px 10px 0 0;
                th{
                    height: 44px;
                    .btn{
                        @include btn($titleColor,#b43c50);
                        height: 100%;
                        font-size: 14px;
                        font-weight: 900;
                    }
                    #nextmonth{
                        border-radius: 0 10px 0 0;
                        border-left: 1px solid #a53144;
                    }
                    #premonth{
                        border-radius: 10px 0 0 0;
                        border-right: 1px solid #a53144;
                    }
                }
                .month{
                    background-color: $titleColor;
                    color: $indexColor;
                }
            }
            .week_header{
                th{

                    border-right: 1px solid $headerBackColor;
                }
            }
            tr{
                color: $headerBackColor;
                th{
                    height: 34px;
                }
            }
        }
        tbody{
            tr{
                td{
                    width: 14.2%;
                    border-right: 5px solid $borderColor;
                    border-bottom: 5px solid $borderColor;
                    vertical-align: top;
                    padding-top: 10px;
                    cursor: pointer;
                    ul{
                        padding-top: 10px;
                        li{
                            font-weight: 800;
                            font-size: 12px;
                            .strat_time{
                                font-weight: 400;
                                padding-left: 5px;
                            }
                        }
                    }
                    &:hover{
                        background-color: #48547e;
                    }
                }
                .active{
                    background-color: #2b3355;
                    border-left: 7px solid $borderColor;
                    border-top: 7px solid $borderColor;
                    .day{
                        background-color: $indexColor;
                        color: $backColor;
                        border-radius: 50%;
                        padding: 3px;
                    }
                    font-weight: 600;
                }

                .today{
                    .day{
                        background-color: $titleColor;
                        border-radius: 50%;
                        padding: 3px 4px;
                    }
                }
            }
        }
    }
}

.alert{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #394264d8;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    h2{
        font-size: xx-large;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        color: $indexColor;
    }
    table{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        font-size: x-large;
        background-color: $backColor;
        border-radius: 16px;
        padding: 20px 10px;
        tr{
            width: 100%;
            th{
                color: rgba(255, 255, 255, 0.35);
                padding: 2px 4px;
                width: 50%;
            }
            td{
                width: 50%;
                input{
                    font-family: 'Montserrat', sans-serif;
                    font-size: large;
                    width: 80%;
                    color: $indexColor;
                    letter-spacing: 1px;
                    background: rgba(255, 255, 255, 0.1);
                    border: 2px solid rgba(255, 255, 255, 0);
                    border-radius: 19px;
                    box-sizing: border-box;
                    transition: all 0.5s;
                    padding-left: 10px;
                    &:focus{
                        outline: none;
                        border: 2px solid rgba(255, 255, 255, 0.5);
                        background: transparent;
                    }
                }
                input[type="button"] {
                    @include btn($titleColor,#b43c50);
                    width: 80%;
                    padding: 12px 0;
                    margin-top: 12px;
                }
                input[type="submit"] {
                    @include btn(#11a8ab,#0f9294);
                    width: 80%;
                    padding: 12px 0;
                    margin-top: 12px;
                }
            }
        }
    }
}

#note_main{
    width: 80%;
    .note{
        width: 90%;
    }
}

#my_code_menu{
    text-align: left;
    background-color: #2b3355;
    height: 100%;
    border-radius: 10px;
    .menu_content{
        h2{
            padding: 16px 0 0 16px;
            margin-bottom: 10px;
            border-bottom: 2px solid $hover_color;
        }
        .menu_item{
            width: 150px;
            height: 150px;
            display: inline-block;
            border-radius: 10px;
            margin-left: 16px;
            position: relative;
            background-color: $hover_color;
            box-shadow: 0px 4px 60px -15px $backColor;
            &:hover{
                background-color: #2b3355;

            }
            h3{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: medium;
                cursor: pointer;
            }
        }
    }
}

#editor{
    height: 100%;
    #editor_header{
        width: 100%;
        height: 8%;
        #code_title{
            width: 70%;
            height: 100%;
            float: left;
            .user-box{
                height: 100%;
                width: 50%;
                float: left;
                position: relative;
                padding: 5px;
                input,select{
                    width: 100%;
                    padding: 10px 20px;
                    font-size: 14px;
                    color: #fff;
                    border: none;
                    border-bottom: 1px solid #fff;
                    outline: none;
                    background: #2b3355;
                    border-radius: 10px;
                    option{
                        background-color: $backColor;
                    }
                }
    
                label{
                    position: absolute;
                    top: -30px;
                    left: 0;
                    padding: 10px 0;
                    color: #03e9f4;
                    font-size: 12px;
                    pointer-events: none;
                    transition: .5s;
                }
            }
        }
        .save{
            @include btn(#11a8ab,#0f9294);
            border-radius: 10px;
            height: 100%;
            width: 15%;
            float: left;
        }
        .delete{
            @include btn($titleColor,#b43c50);
            border-radius: 10px;
            height: 100%;
            width: 15%;
            float: left;
        }
    }
    #editor_body{
        width: 100%;
        height: 92%;
        text-align: left;
        .vue-codemirror{
            height: 100%;
        }
    }
}

.code_discription{
    height: 60%;
    h2{
        background-color: $titleColor;
        padding: 14px 0;
        border-radius: 10px 10px 0 0;
        font-weight: 400;
        font-size: large;
    }
    textarea{
        width: 90%;
        padding: 10px 20px;
        font-size: 14px;
        color: #fff;
        background: #2b3355;
        border-radius: 10px;
        height: 85%;
    }
}
#archive{
    height: 40%;
    h2{
        background-color: $titleColor;
        padding: 14px 0;
        border-radius: 10px 10px 0 0;
        font-weight: 400;
        font-size: large;
    }
    .archive_list{
        ul{
            li{
                width: 100%;
                height: 60px;
                border-bottom: 1px solid $borderColor;
                &:hover{
                    border-left: none;
                    border-top: none;
                }
                a{
                    line-height: 60px;
                    display: block;
                    -webkit-transition: background .2s;
                    transition: background .2s;
                    color: $indexColor;
                    text-decoration: none;
                    &:hover{
                        background: $hover_color;
                        border-top: 1px solid #1f253d;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


@mixin done_btn($color) {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    color: $color;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background:transparent;
    border: none;
    outline: none;
    &:hover{
        background: $color;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px $color,0 0 25px $color,0 0 50px $color,0 0 100px $color;
    }
    span{
        position: absolute;
        display: block;
    }

    span:nth-child(1){
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, $color);
        animation: btn-anim1 1s linear infinite;
    }
    @keyframes btn-anim1 {
        0% {
            left: -100%;
        }
        50%,100% {
            left: 100%;
        }
    }

    span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, $color);
        animation: btn-anim2 1s linear infinite;
        animation-delay: .25s
    }
    @keyframes btn-anim2 {
        0% {
            top: -100%;
        }
        50%,100% {
            top: 100%;
        }
    }
        
    span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, $color);
        animation: btn-anim3 1s linear infinite;
        animation-delay: .5s
    }
    @keyframes btn-anim3 {
        0% {
            right: -100%;
        }
        50%,100% {
            right: 100%;
        }
    }

    span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, $color);
        animation: btn-anim4 1s linear infinite;
        animation-delay: .75s
    }
    @keyframes btn-anim4 {
        0% {
            bottom: -100%;
        }
        50%,100% {
            bottom: 100%;
        }
    }
}

#tasks{
    width: 100%;
    height: 100%;
    #tasks_head_bar{
        padding: 10px 0;
        border-radius: 10px 10px 0 0;
        background: linear-gradient(to right, $alert_red, $alert_blue);
    }
    .todos{
        float: left;
        padding: 10px;
        .todo_task{
            display: none;
            height: 100%;
            width: 100%;
            border-radius: 10px;
            background-color: #2b3355;
            h2{
                font-size: 100%;
                padding: 5px 0;
                border-radius: 10px 10px 0 0;
            }
            h3{
                font-size: 30%;
                padding: 5px 0;
            }
            table{
                width: 100%;
                font-size: 80%;
                td{
                    text-align: left;
                }
            }
        }

        .future{
            h2{
                background-color: rgba(33,150,243,0.9);
            }
            .mention{
                color: $alert_blue;
            }
            a{
                @include done_btn($alert_blue);
            }
        }

        .expired{
            h2{
                background-color: rgba(179,58,58,0.9);
            }
            .mention{
                color: $alert_red;
            }
            a{
                @include done_btn($alert_red);
            }
        }

        .today{
            h2{
                background-color: rgba(238,210,2,0.9);
            }
            .mention{
                color: $alert_yellow;
            }
            a{
                @include done_btn($alert_yellow);
            }
        }
    }
}

.content_head{
    position: relative;
    height: 8%;
    background-color: $titleColor;
    border-radius: 10px 10px 0 0;
    h2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.task_form {
    width: 100%;
    height: 92%;
    padding: 40px;
    background-color: #2b3355;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 0 0 10px 10px;
    form{
        .user-box{
            position: relative;
            input,textarea{
                width: 100%;
                padding: 10px 0;
                font-size: 16px;
                color: #fff;
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid #fff;
                outline: none;
                background: transparent;
                &:focus ~ label,&:valid ~ label{
                    top: -20px;
                    left: 0;
                    color: #03e9f4;
                    font-size: 12px;
                }
            }

            label{
                position: absolute;
                top:0;
                left: 0;
                padding: 10px 0;
                font-size: 16px;
                color: #ffffff;
                pointer-events: none;
                transition: .5s;
            }
        }
        button{
            @include done_btn(#03e9f4);
        }
    }
}