* {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scdColor {
  color: #9099b7;
}

.no_disp {
  display: none;
}

.current_page {
  background-color: #2b3355;
  border-left: 5px solid #1f253d;
  border-top: 5px solid #1f253d;
}

.user-box {
  height: 100%;
  width: 50%;
  float: left;
  position: relative;
  padding: 5px;
}

.user-box input, .user-box select {
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: #2b3355;
  border-radius: 10px;
}

.user-box input option, .user-box select option {
  background-color: #1f253d;
}

.user-box label {
  position: absolute;
  top: -30px;
  left: 0;
  padding: 10px 0;
  color: #03e9f4;
  font-size: 12px;
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
}

html {
  height: 100%;
}

body {
  background-color: #1f253d;
  color: #fff;
  height: 100%;
  text-align: center;
}

body #wrapper {
  width: 100%;
  height: 100%;
}

body #wrapper #sidebar, body #wrapper #main, body #wrapper #details {
  height: 100%;
  float: left;
}

body #wrapper #sidebar {
  width: 20%;
}

body #wrapper #sidebar .header {
  margin: 30px 16px;
  height: 90%;
}

body #wrapper #sidebar .header .head {
  height: 12%;
  margin: 0 0 10% 0;
  background-color: #11a8ab;
  position: relative;
}

body #wrapper #sidebar .header .head h1 {
  font-size: 26pt;
  font-weight: 800;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

body #wrapper #sidebar .header .head h1 .logo_img img {
  height: 26px;
  border-radius: 50%;
}

body #wrapper #sidebar .header .menu_list {
  height: 84%;
  margin: 0 0;
}

body #wrapper #sidebar .header .menu_list h2 {
  background-color: #e64c65;
  padding: 14px 0;
  border-radius: 10px 10px 0 0;
  font-weight: 400;
  font-size: large;
}

body #wrapper #sidebar .header .menu_list ul li {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #1f253d;
}

body #wrapper #sidebar .header .menu_list ul li:hover {
  border-left: none;
  border-top: none;
}

body #wrapper #sidebar .header .menu_list ul li a {
  line-height: 60px;
  display: block;
  -webkit-transition: background .2s;
  transition: background .2s;
  color: #fff;
  text-decoration: none;
}

body #wrapper #sidebar .header .menu_list ul li a:hover {
  background: #50597b;
  border-top: 1px solid #1f253d;
  text-decoration: none;
}

body #wrapper #sidebar .header .menu_list p {
  margin-top: 20px;
}

body #wrapper #main {
  width: 55%;
}

body #wrapper #details {
  width: 25%;
}

body #wrapper #details #right_content {
  height: 90%;
}

body #wrapper #details #right_content .sche_conte {
  height: 48%;
}

body #wrapper #details #right_content .sche_conte .date_head {
  background-color: #e64c65;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
  height: 15%;
  position: relative;
}

body #wrapper #details #right_content .sche_conte .date_head h2 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body #wrapper #details #right_content .sche_conte #date_schedule {
  height: 80%;
  position: relative;
}

body #wrapper #details #right_content .sche_conte #date_schedule p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body #wrapper #details #right_content .sche_conte #date_schedule h3 {
  height: 10%;
}

body #wrapper #details #right_content .sche_conte #date_schedule .sche_titles {
  padding-top: 20px;
  height: 90%;
  width: 20%;
  float: left;
}

body #wrapper #details #right_content .sche_conte #date_schedule .sche_titles ul li {
  cursor: pointer;
  border-right: 3px solid #1f253d;
  border-bottom: 3px solid #1f253d;
}

body #wrapper #details #right_content .sche_conte #date_schedule .sche_titles ul li:hover {
  color: #e64c65;
  background-color: #2b3355;
}

body #wrapper #details #right_content .sche_conte #date_schedule .sche_titles ul .li_active {
  background-color: #2b3355;
  border-right: none;
  border-bottom: none;
  border-left: 5px solid #1f253d;
  border-top: 5px solid #1f253d;
}

body #wrapper #details #right_content .sche_conte #date_schedule #sche_table {
  padding-top: 10px;
  width: 80%;
  float: right;
  height: 90%;
}

body #wrapper #details #right_content .sche_conte #date_schedule #sche_table table {
  width: 100%;
  height: 100%;
}

body #wrapper #details #right_content .sche_conte #date_schedule #sche_table table tr th {
  color: rgba(255, 255, 255, 0.35);
  padding: 1px 4px;
  height: 14%;
}

body #wrapper #details #right_content .sche_conte #date_schedule #sche_table table tr td .change-btn {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  border: none;
  color: #fff;
  background: #11a8ab;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
  border-radius: 16px 0 0 16px;
  height: 100%;
}

body #wrapper #details #right_content .sche_conte #date_schedule #sche_table table tr td .change-btn:hover {
  background: #0f9294;
  -webkit-box-shadow: 0px 4px 60px -15px #e64c65;
          box-shadow: 0px 4px 60px -15px #e64c65;
  cursor: pointer;
}

body #wrapper #details #right_content .sche_conte #date_schedule #sche_table table tr td .delete-btn {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  border: none;
  color: #fff;
  background: #e64c65;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
  border-radius: 0 16px 16px 0;
  height: 100%;
}

body #wrapper #details #right_content .sche_conte #date_schedule #sche_table table tr td .delete-btn:hover {
  background: #b43c50;
  -webkit-box-shadow: 0px 4px 60px -15px #e64c65;
          box-shadow: 0px 4px 60px -15px #e64c65;
  cursor: pointer;
}

body #wrapper #details #right_content .sche_form {
  height: 48%;
}

body #wrapper #details #right_content .sche_form .sche_form_head {
  background-color: #e64c65;
  border-radius: 10px 10px 0 0;
  height: 15%;
  position: relative;
}

body #wrapper #details #right_content .sche_form .sche_form_head h2 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body #wrapper #details #right_content .sche_form form {
  height: 85%;
}

body #wrapper #details #right_content .sche_form form table {
  width: 100%;
  padding-top: 3px;
  height: 100%;
}

body #wrapper #details #right_content .sche_form form table tr {
  width: 100%;
}

body #wrapper #details #right_content .sche_form form table tr th {
  color: rgba(255, 255, 255, 0.35);
  padding: 2px 4px;
  width: 30%;
}

body #wrapper #details #right_content .sche_form form table tr td {
  width: 70%;
  height: 14.2%;
}

body #wrapper #details #right_content .sche_form form table tr td input, body #wrapper #details #right_content .sche_form form table tr td textarea {
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  color: #fff;
  letter-spacing: 1px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-left: 10px;
}

body #wrapper #details #right_content .sche_form form table tr td input:focus, body #wrapper #details #right_content .sche_form form table tr td textarea:focus {
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: transparent;
}

body #wrapper #details #right_content .sche_form form table tr td input[type="submit"] {
  font-family: 'Montserrat', sans-serif;
  width: 25%;
  border: none;
  border-radius: 20px;
  color: #fff;
  background: #11a8ab;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
  padding: 5px 0;
}

body #wrapper #details #right_content .sche_form form table tr td input[type="submit"]:hover {
  background: #0f9294;
  -webkit-box-shadow: 0px 4px 60px -15px #11a8ab;
          box-shadow: 0px 4px 60px -15px #11a8ab;
  cursor: pointer;
}

body #wrapper .content {
  margin: 30px 16px;
  background-color: #394264;
  border-radius: 10px;
  height: 90%;
}

#schedule_detail {
  height: 100%;
}

#schedule_detail table {
  width: 100%;
  height: 100%;
}

#schedule_detail table thead .t-title {
  border-radius: 10px 10px 0 0;
}

#schedule_detail table thead .t-title th {
  height: 44px;
}

#schedule_detail table thead .t-title th .btn {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  border: none;
  color: #fff;
  background: #e64c65;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
  height: 100%;
  font-size: 14px;
  font-weight: 900;
}

#schedule_detail table thead .t-title th .btn:hover {
  background: #b43c50;
  -webkit-box-shadow: 0px 4px 60px -15px #e64c65;
          box-shadow: 0px 4px 60px -15px #e64c65;
  cursor: pointer;
}

#schedule_detail table thead .t-title th #nextmonth {
  border-radius: 0 10px 0 0;
  border-left: 1px solid #a53144;
}

#schedule_detail table thead .t-title th #premonth {
  border-radius: 10px 0 0 0;
  border-right: 1px solid #a53144;
}

#schedule_detail table thead .t-title .month {
  background-color: #e64c65;
  color: #fff;
}

#schedule_detail table thead .week_header th {
  border-right: 1px solid #11a8ab;
}

#schedule_detail table thead tr {
  color: #11a8ab;
}

#schedule_detail table thead tr th {
  height: 34px;
}

#schedule_detail table tbody tr td {
  width: 14.2%;
  border-right: 5px solid #1f253d;
  border-bottom: 5px solid #1f253d;
  vertical-align: top;
  padding-top: 10px;
  cursor: pointer;
}

#schedule_detail table tbody tr td ul {
  padding-top: 10px;
}

#schedule_detail table tbody tr td ul li {
  font-weight: 800;
  font-size: 12px;
}

#schedule_detail table tbody tr td ul li .strat_time {
  font-weight: 400;
  padding-left: 5px;
}

#schedule_detail table tbody tr td:hover {
  background-color: #48547e;
}

#schedule_detail table tbody tr .active {
  background-color: #2b3355;
  border-left: 7px solid #1f253d;
  border-top: 7px solid #1f253d;
  font-weight: 600;
}

#schedule_detail table tbody tr .active .day {
  background-color: #fff;
  color: #1f253d;
  border-radius: 50%;
  padding: 3px;
}

#schedule_detail table tbody tr .today .day {
  background-color: #e64c65;
  border-radius: 50%;
  padding: 3px 4px;
}

.alert {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #394264d8;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.alert h2 {
  font-size: xx-large;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
}

.alert table {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: x-large;
  background-color: #1f253d;
  border-radius: 16px;
  padding: 20px 10px;
}

.alert table tr {
  width: 100%;
}

.alert table tr th {
  color: rgba(255, 255, 255, 0.35);
  padding: 2px 4px;
  width: 50%;
}

.alert table tr td {
  width: 50%;
}

.alert table tr td input {
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  width: 80%;
  color: #fff;
  letter-spacing: 1px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-left: 10px;
}

.alert table tr td input:focus {
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: transparent;
}

.alert table tr td input[type="button"] {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  border: none;
  color: #fff;
  background: #e64c65;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
  width: 80%;
  padding: 12px 0;
  margin-top: 12px;
}

.alert table tr td input[type="button"]:hover {
  background: #b43c50;
  -webkit-box-shadow: 0px 4px 60px -15px #e64c65;
          box-shadow: 0px 4px 60px -15px #e64c65;
  cursor: pointer;
}

.alert table tr td input[type="submit"] {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  border: none;
  color: #fff;
  background: #11a8ab;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
  width: 80%;
  padding: 12px 0;
  margin-top: 12px;
}

.alert table tr td input[type="submit"]:hover {
  background: #0f9294;
  -webkit-box-shadow: 0px 4px 60px -15px #e64c65;
          box-shadow: 0px 4px 60px -15px #e64c65;
  cursor: pointer;
}

#note_main {
  width: 80%;
}

#note_main .note {
  width: 90%;
}

#my_code_menu {
  text-align: left;
  background-color: #2b3355;
  height: 100%;
  border-radius: 10px;
}

.menu_content h2 {
  padding: 16px 0 0 16px;
  margin-bottom: 10px;
  border-bottom: 2px solid #50597b;
}

.menu_content .menu_item {
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 10px;
  margin-left: 16px;
  position: relative;
  background-color: #50597b;
  -webkit-box-shadow: 0px 4px 60px -15px #1f253d;
          box-shadow: 0px 4px 60px -15px #1f253d;
}

.menu_content .menu_item:hover {
  background-color: #2b3355;
}

.menu_content .menu_item h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: medium;
  cursor: pointer;
}

#file_upload {
  width: 100%;
}

#file_upload h2 {
  background-color: #e64c65;
  padding: 14px 0;
  border-radius: 10px 10px 0 0;
  font-weight: 400;
  font-size: large;
}

#file_upload form {
  text-align: left;
  padding: 20px 40px;
}

#file_upload form p {
  margin: 10px 0;
}

#file_upload form p textarea {
  width: 70%;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  background: #2b3355;
  border-radius: 10px;
  height: 85%;
}

#file_upload form button {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  color: #2196F3;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: transparent;
  border: none;
  outline: none;
}

#file_upload form button:hover {
  background: #2196F3;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #2196F3, 0 0 25px #2196F3, 0 0 50px #2196F3, 0 0 100px #2196F3;
          box-shadow: 0 0 5px #2196F3, 0 0 25px #2196F3, 0 0 50px #2196F3, 0 0 100px #2196F3;
}

#file_upload form button span {
  position: absolute;
  display: block;
}

#file_upload form button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#2196F3));
  background: linear-gradient(90deg, transparent, #2196F3);
  -webkit-animation: btn-anim1 1s linear infinite;
          animation: btn-anim1 1s linear infinite;
}

@-webkit-keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

#file_upload form button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#2196F3));
  background: linear-gradient(180deg, transparent, #2196F3);
  -webkit-animation: btn-anim2 1s linear infinite;
          animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

@-webkit-keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

#file_upload form button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#2196F3));
  background: linear-gradient(270deg, transparent, #2196F3);
  -webkit-animation: btn-anim3 1s linear infinite;
          animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@-webkit-keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

#file_upload form button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#2196F3));
  background: linear-gradient(360deg, transparent, #2196F3);
  -webkit-animation: btn-anim4 1s linear infinite;
          animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

@-webkit-keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

#editor {
  height: 100%;
}

#editor #editor_header {
  width: 100%;
  height: 8%;
}

#editor #editor_header #code_title {
  width: 70%;
  height: 100%;
  float: left;
}

#editor #editor_header #code_title .user-box {
  height: 100%;
  width: 50%;
  float: left;
  position: relative;
  padding: 5px;
}

#editor #editor_header #code_title .user-box input, #editor #editor_header #code_title .user-box select {
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: #2b3355;
  border-radius: 10px;
}

#editor #editor_header #code_title .user-box input option, #editor #editor_header #code_title .user-box select option {
  background-color: #1f253d;
}

#editor #editor_header #code_title .user-box label {
  position: absolute;
  top: -30px;
  left: 0;
  padding: 10px 0;
  color: #03e9f4;
  font-size: 12px;
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
}

#editor #editor_header .save {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  border: none;
  color: #fff;
  background: #11a8ab;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
  border-radius: 10px;
  height: 100%;
  width: 15%;
  float: left;
}

#editor #editor_header .save:hover {
  background: #0f9294;
  -webkit-box-shadow: 0px 4px 60px -15px #e64c65;
          box-shadow: 0px 4px 60px -15px #e64c65;
  cursor: pointer;
}

#editor #editor_header .delete {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  border: none;
  color: #fff;
  background: #e64c65;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
  border-radius: 10px;
  height: 100%;
  width: 15%;
  float: left;
}

#editor #editor_header .delete:hover {
  background: #b43c50;
  -webkit-box-shadow: 0px 4px 60px -15px #e64c65;
          box-shadow: 0px 4px 60px -15px #e64c65;
  cursor: pointer;
}

#editor #editor_body {
  width: 100%;
  height: 92%;
  text-align: left;
}

#editor #editor_body .CodeMirror {
  height: 100%;
  border-radius: 0 0 10px 10px;
}

.code_discription {
  height: 60%;
}

.code_discription h2 {
  background-color: #e64c65;
  padding: 14px 0;
  border-radius: 10px 10px 0 0;
  font-weight: 400;
  font-size: large;
}

.code_discription textarea {
  width: 90%;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  background: #2b3355;
  border-radius: 10px;
  height: 80%;
}

#archive {
  height: 40%;
}

#archive h2 {
  background-color: #e64c65;
  padding: 14px 0;
  border-radius: 10px 10px 0 0;
  font-weight: 400;
  font-size: large;
}

#archive .archive_list ul li {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #1f253d;
}

#archive .archive_list ul li:hover {
  border-left: none;
  border-top: none;
}

#archive .archive_list ul li a {
  font-size: 12pt;
  line-height: 40px;
  display: block;
  -webkit-transition: background .2s;
  transition: background .2s;
  color: #fff;
  text-decoration: none;
}

#archive .archive_list ul li a:hover {
  background: #50597b;
  border-top: 1px solid #1f253d;
  text-decoration: none;
}

#archive .archive_list ul li a span {
  font-size: 8pt;
  color: rgba(255, 255, 255, 0.5);
}

#tasks {
  width: 100%;
  height: 100%;
}

#tasks #tasks_head_bar {
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
  background: -webkit-gradient(linear, left top, right top, from(#B33A3A), to(#2196F3));
  background: linear-gradient(to right, #B33A3A, #2196F3);
}

#tasks .todos {
  float: left;
  padding: 10px;
}

#tasks .todos .todo_task {
  display: none;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #2b3355;
}

#tasks .todos .todo_task h2 {
  font-size: 100%;
  padding: 5px 0;
  border-radius: 10px 10px 0 0;
}

#tasks .todos .todo_task h3 {
  font-size: 30%;
  padding: 5px 0;
}

#tasks .todos .todo_task table {
  width: 100%;
  font-size: 80%;
}

#tasks .todos .todo_task table td {
  text-align: left;
}

#tasks .todos .future h2 {
  background-color: rgba(33, 150, 243, 0.9);
}

#tasks .todos .future .mention {
  color: #2196F3;
}

#tasks .todos .future a {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  color: #2196F3;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: transparent;
  border: none;
  outline: none;
}

#tasks .todos .future a:hover {
  background: #2196F3;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #2196F3, 0 0 25px #2196F3, 0 0 50px #2196F3, 0 0 100px #2196F3;
          box-shadow: 0 0 5px #2196F3, 0 0 25px #2196F3, 0 0 50px #2196F3, 0 0 100px #2196F3;
}

#tasks .todos .future a span {
  position: absolute;
  display: block;
}

#tasks .todos .future a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#2196F3));
  background: linear-gradient(90deg, transparent, #2196F3);
  -webkit-animation: btn-anim1 1s linear infinite;
          animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

#tasks .todos .future a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#2196F3));
  background: linear-gradient(180deg, transparent, #2196F3);
  -webkit-animation: btn-anim2 1s linear infinite;
          animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

#tasks .todos .future a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#2196F3));
  background: linear-gradient(270deg, transparent, #2196F3);
  -webkit-animation: btn-anim3 1s linear infinite;
          animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

#tasks .todos .future a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#2196F3));
  background: linear-gradient(360deg, transparent, #2196F3);
  -webkit-animation: btn-anim4 1s linear infinite;
          animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

#tasks .todos .expired h2 {
  background-color: rgba(179, 58, 58, 0.9);
}

#tasks .todos .expired .mention {
  color: #B33A3A;
}

#tasks .todos .expired a {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  color: #B33A3A;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: transparent;
  border: none;
  outline: none;
}

#tasks .todos .expired a:hover {
  background: #B33A3A;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #B33A3A, 0 0 25px #B33A3A, 0 0 50px #B33A3A, 0 0 100px #B33A3A;
          box-shadow: 0 0 5px #B33A3A, 0 0 25px #B33A3A, 0 0 50px #B33A3A, 0 0 100px #B33A3A;
}

#tasks .todos .expired a span {
  position: absolute;
  display: block;
}

#tasks .todos .expired a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#B33A3A));
  background: linear-gradient(90deg, transparent, #B33A3A);
  -webkit-animation: btn-anim1 1s linear infinite;
          animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

#tasks .todos .expired a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#B33A3A));
  background: linear-gradient(180deg, transparent, #B33A3A);
  -webkit-animation: btn-anim2 1s linear infinite;
          animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

#tasks .todos .expired a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#B33A3A));
  background: linear-gradient(270deg, transparent, #B33A3A);
  -webkit-animation: btn-anim3 1s linear infinite;
          animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

#tasks .todos .expired a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#B33A3A));
  background: linear-gradient(360deg, transparent, #B33A3A);
  -webkit-animation: btn-anim4 1s linear infinite;
          animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

#tasks .todos .today h2 {
  background-color: rgba(238, 210, 2, 0.9);
}

#tasks .todos .today .mention {
  color: #EED202;
}

#tasks .todos .today a {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  color: #EED202;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: transparent;
  border: none;
  outline: none;
}

#tasks .todos .today a:hover {
  background: #EED202;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #EED202, 0 0 25px #EED202, 0 0 50px #EED202, 0 0 100px #EED202;
          box-shadow: 0 0 5px #EED202, 0 0 25px #EED202, 0 0 50px #EED202, 0 0 100px #EED202;
}

#tasks .todos .today a span {
  position: absolute;
  display: block;
}

#tasks .todos .today a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#EED202));
  background: linear-gradient(90deg, transparent, #EED202);
  -webkit-animation: btn-anim1 1s linear infinite;
          animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

#tasks .todos .today a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#EED202));
  background: linear-gradient(180deg, transparent, #EED202);
  -webkit-animation: btn-anim2 1s linear infinite;
          animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

#tasks .todos .today a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#EED202));
  background: linear-gradient(270deg, transparent, #EED202);
  -webkit-animation: btn-anim3 1s linear infinite;
          animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

#tasks .todos .today a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#EED202));
  background: linear-gradient(360deg, transparent, #EED202);
  -webkit-animation: btn-anim4 1s linear infinite;
          animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

.content_head {
  position: relative;
  height: 8%;
  background-color: #e64c65;
  border-radius: 10px 10px 0 0;
}

.content_head h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.task_form {
  width: 100%;
  height: 92%;
  padding: 40px;
  background-color: #2b3355;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 0 0 10px 10px;
}

.task_form form {
  width: 100%;
}

.task_form form .user-box {
  position: relative;
  width: 100%;
}

.task_form form .user-box input, .task_form form .user-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.task_form form .user-box input:focus ~ label, .task_form form .user-box input:valid ~ label, .task_form form .user-box textarea:focus ~ label, .task_form form .user-box textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.task_form form .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #ffffff;
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.task_form form button {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: transparent;
  border: none;
  outline: none;
}

.task_form form button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
          box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.task_form form button span {
  position: absolute;
  display: block;
}

.task_form form button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#03e9f4));
  background: linear-gradient(90deg, transparent, #03e9f4);
  -webkit-animation: btn-anim1 1s linear infinite;
          animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

.task_form form button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#03e9f4));
  background: linear-gradient(180deg, transparent, #03e9f4);
  -webkit-animation: btn-anim2 1s linear infinite;
          animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

.task_form form button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(270deg, transparent, #03e9f4);
  -webkit-animation: btn-anim3 1s linear infinite;
          animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

.task_form form button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(360deg, transparent, #03e9f4);
  -webkit-animation: btn-anim4 1s linear infinite;
          animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

.find_code {
  height: 100%;
}

.find_code .find_code_title {
  height: 10%;
  border-bottom: 2px solid #50597b;
  position: relative;
}

.find_code .find_code_title h2 {
  width: 30%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.find_code .find_code_title .my_form {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-top: 5px;
}

.find_code .find_code_title .my_form button {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  color: #2196F3;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: transparent;
  border: none;
  outline: none;
  margin-top: 0;
}

.find_code .find_code_title .my_form button:hover {
  background: #2196F3;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #2196F3, 0 0 25px #2196F3, 0 0 50px #2196F3, 0 0 100px #2196F3;
          box-shadow: 0 0 5px #2196F3, 0 0 25px #2196F3, 0 0 50px #2196F3, 0 0 100px #2196F3;
}

.find_code .find_code_title .my_form button span {
  position: absolute;
  display: block;
}

.find_code .find_code_title .my_form button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#2196F3));
  background: linear-gradient(90deg, transparent, #2196F3);
  -webkit-animation: btn-anim1 1s linear infinite;
          animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

.find_code .find_code_title .my_form button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#2196F3));
  background: linear-gradient(180deg, transparent, #2196F3);
  -webkit-animation: btn-anim2 1s linear infinite;
          animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

.find_code .find_code_title .my_form button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#2196F3));
  background: linear-gradient(270deg, transparent, #2196F3);
  -webkit-animation: btn-anim3 1s linear infinite;
          animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

.find_code .find_code_title .my_form button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#2196F3));
  background: linear-gradient(360deg, transparent, #2196F3);
  -webkit-animation: btn-anim4 1s linear infinite;
          animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

.find_code .find_code_body {
  height: 90%;
}

.find_code .find_code_body .code_item {
  float: left;
  padding: 10px;
  cursor: pointer;
}

.find_code .find_code_body .code_item:hover .item_body h2 {
  background-color: rgba(179, 58, 58, 0.9);
}

.find_code .find_code_body .code_item .item_body {
  height: 100%;
  width: 100%;
  display: none;
  border-radius: 10px;
  background-color: #2b3355;
}

.find_code .find_code_body .code_item .item_body h2 {
  font-size: 100%;
  padding: 5px 0;
  border-radius: 10px 10px 0 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.find_code .find_code_body .code_item .item_body h3 {
  font-size: 30%;
  padding: 5px 0;
}

.find_code .find_code_body .code_item .item_body table {
  width: 100%;
  font-size: 80%;
}

.find_code .find_code_body .code_item .item_body table td {
  text-align: left;
}
/*# sourceMappingURL=style.css.map */
