{% extends 'accounts/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock head %}

{% block content %}
<div id="form" style="height: 680px;">
    <h2>Sign Up</h2>
    <form action="{% url 'accounts:create' %}" method="post">
        {% csrf_token %}
        <div class="user-box">
            {{form.username}}
            <label for="id_username">Username</label>
        </div>
        <div class="user-box">
            {{form.full_name}}
            <label for="id_full_name">Fullname</label>
        </div>
        <div class="user-box">
            {{ form.password1 }}
            <label>Password</label>
        </div>
        <div class="user-box">
            {{ form.password2 }}
            <label>Password(again)</label>
        </div>
        <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Sign Up
        </button>
    </form>
    <div class="login_account"><a href="{% url 'accounts:login' %}">Do you hava an account?</a></div>
</div>
{% endblock content %}