{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>myNote</title>
  <script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src = "{% static 'myNote/ajaxScript.js' %}"></script>
  {% block head %}{% endblock head %}
</head>
<body>
  <div id="wrapper">
    <div id="sidebar">
      <div class="header">
        <div class="content head">
          <h1><span class="logo_img"><img src="{% static 'myNote/mynote_logo.jpg' %}" ></span>My Note</h1>
        </div>
        <div class="content menu_list">
          <h2>MENU BOX</h2>
          <ul>
            <li class="todo"><a href="{% url 'myNote:myPage'%}">ToDo</a></li>
            <li class="mycode"><a href="{% url 'myNote:note'%}">MyCode</a></li>
            <li><a href="/">追加予定</a></li>
          </ul>
          <p><a href="{% url 'accounts:logout' %}" class="scdColor">ログアウト</a></p>
        </div>
      </div>
    </div>
    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>