{% extends 'myNote/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'myNote/style.css' %}">
<script src="{% static 'myNote/note.js' %}"></script>
<script type="text/javascript" src="{% static 'myNote/node_modules/vue/dist/vue.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'myNote/codemirror-5.61.1/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'myNote/codemirror-5.61.1/theme/ambiance.css' %}">
<script src="{% static 'myNote/codemirror-5.61.1/lib/codemirror.js' %}"></script>
<script src="{% static 'myNote/codemirror-5.61.1/mode/javascript/javascript.js' %}"></script>
{% endblock head %}

{% block content %}
{% if has_id %}
<form action="{% url 'myNote:show_codes' id %}" method="post" id="code_form">
{% else %}
<form action="{% url 'myNote:codes' %}" method="post" id="code_form">
{% endif %}
{% csrf_token %}
</form>
<div id="main">
  <div class="content">
    <div id="editor">
      <div id="editor_header">
        <div id="code_title">
          <div class="user-box">
            <label for="id_title">タイトル</label>
            {{form.title}}
          </div>
          <div class="user-box">
            <label for="id_extension">言語</label>
            {{form.extension}}
          </div>
        </div>
        <button type="submit" class="save" form="code_form">Save</button>
        <button class="delete">Delete</button>
      </div>
      <div id="editor_body">
        {{form.code}}
      </div>
    </div>
  </div>
</div>
<div id="details">
  <div class="content">
    <div class="code_discription">
      <h2>コードの説明</h2>
      {{form.discription}}
    </div>
    <div id="archive">
        <h2>アーカイブ</h2>
        <div class="archive_list">
            <ul>
            {% for data in datas %}
                <li><a href="{% url 'myNote:show_codes' data.id %}">{{data.title}}  <span>{{data.date|date:"Y/m/d"}}</span></a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var editor = CodeMirror.fromTextArea(document.getElementById("id_code"),
  {
    value:'',
    mode:'javascript',
    theme:'ambiance',
    lineNumbers: true,　 // 行番号を表示する
    lineWrapping: true,
    autofocus:true,
    autocorrect:true,
    spellcheck:true
  });
  $('.save').on('click', function() {
    editor.save();
  });
  $('.delete').on('click',function(){
    var result = window.confirm('本当に削除しますか？');
    if( result ) {
      window.location.href = 'delete/';
    }
  })
</script>
{% endblock content %}