{% extends 'myNote/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'myNote/style.css' %}">
<script src="{% static 'myNote/note.js' %}"></script>
<script type="text/javascript" src="{% static 'myNote/node_modules/vue/dist/vue.min.js' %}"></script>
{% endblock head %}

{% block content %}
<div id="main">
  <div class="content">
    <div id="my_code_menu">
      <div id="new_code" class="menu_content">
        <h2>新規作成</h2>
        <div class="menu_item" v-on:click="showEditor"><h3>新しく<br>コードを書く</h3></div>
        <div class="menu_item" v-on:click="showFileUploadForm"><h3>ファイル<br>から追加</h3></div>
      </div>
      <div id="my_codes" class="menu_content">
        <h2>コードを見る</h2>
        <div class="menu_item" v-on:click="showFindCode"><h3>言語<br>から探す</h3></div>
        <div class="menu_item"><h3>日付<br>から検索</h3></div>
      </div>
    </div>
    <div id="file_upload" class="no_disp">
      <h2>ファイルをアップロード</h2>
      <form action="{% url 'myNote:upload_file' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{form.code_file}}</p>
        <label for="id_discription">コード詳細：</label>
        <p>{{form.discription}}</p>
        <button type="submit">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          追加
        </button>
      </form>
    </div>
  </div>
</div>
<div id="details">
  <div class="content">
    <div id="archive">
      <h2>アーカイブ</h2>
      <div class="archive_list">
        <ul>
          {% for data in datas %}
            <li><a href="{% url 'myNote:show_codes' data.id %}">{{data.title}}  <span>{{data.date|date:"Y/m/d"}}</span></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  new Vue({
    el: '#my_code_menu',
    data: {

    },
    methods: {
      showEditor: function(){
        window.location.href = "{% url 'myNote:codes' %}";
      },
      showFileUploadForm: function(){
        $('#my_code_menu').addClass('no_disp')
        $('#file_upload').removeClass('no_disp')
        $('.file_upload').removeClass('no_disp');
        $('.file_upload').addClass('current_page');
      },
      showFindCode:function(){
        window.location.href = "{% url 'myNote:find_codes' %}";
      }
    }
  });
</script>
{% endblock content %}